:root {
    /* Colors */
    --black: #191919;
    --gray: #CED0CE;
    --orange: #F15025;
    --white: #FFFFFF;
    --platinum: #E6E8E6;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--black);
}

.card h3 {
    color: var(--orange);
    margin-bottom: 30px;
}

.inventory_title {
    font-size: 40px;
    color: var(--orange);
    text-align: center;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    height: 180px;
    margin: 20px;
    padding: 10px 40px;
    background: var(--gray);
    border: 3px solid var(--orange);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

div.button {
    margin-top: 80px;
    background: var(--gray);
    display: inline-block;
    color: var(--orange);
    border: 2px solid var(--orange);
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
    text-align: center;
}

.buttons_section {
    align-items: center;
    text-align: center;
}

.line-1 {
    z-index: 15;
    opacity: 0.5;
}

.line-2 {
    z-index: 10;
    opacity: 0.7;
}

.line-3 {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.wave1 {
    -webkit-background-size: 50% 80px;
    background-size: 50% 80px;
}

.wave2 {
    -webkit-background-size: 50% 100px;
    background-size: 50% 100px;
    animation: animate 12s linear infinite;
}

.wave3 {
    -webkit-background-size: 50% 80px;
    background-size: 50% 80px;
    animation: animate 18s linear infinite;
}

@keyframes animate{
    0% {
        transform: translateX(0) translateY(0) scaleY(1);
    }
    50% {
        transform: translateX(-25%) translateY(0) scaleY(0.5);
    }
    100% {
        transform: translateX(-50%) translateY(0) scaleY(1);
    }
}
