* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Libre Baskerville", serif;
  letter-spacing: 2px;
}

*::selection {
  background-color: #ffffeb;
  color: #6e0d25;
}

body {
  background: #151415;
  color: #ffffeb;
}

a {
  color: #ffffeb;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  background: #25040c;
  padding: 20px;
}

header h2 {
  font-size: 32px;
  font-weight: bold;
}

main {
  width: 80%;
  margin: 40px auto;
}

/* Filter */

main .filter form {
  margin: 0 auto;
}

/* Inventory */

.inventory {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.inventory .item-card {
  width: 300px;
  height: 450px;
  background: #6e0d25;
  border: 6px solid #25040c;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.inventory .item-card h3 {
  font-size: 24px;
  text-align: center;
}

.inventory .item-card i {
  font-size: 7em;
}

main .inventory .item-card .properties h4 {
  margin: 10px;
  text-align: center;
}

main .inventory-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  margin: 40px auto;
}

main .inventory-buttons button {
  padding: 10px;
  background: none;
  color: #ffffeb;
  border: 2px solid #ffffeb;
  border-radius: 4px;
  width: 200px;
  text-align: center;
  transition: 0.2s;
}

main .inventory-buttons button:hover {
  background: #48ad7c;
}

/* Form */

.form {
  background: #25040c;
  padding: 40px 0;
}

.form form {
  width: 30%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.form form input {
  padding: 10px;
  background: #6e0d25;
  border: 2px solid #ffffeb;
  border-radius: 5px;
  color: #ffffeb;
  outline: none;
  width: 48%;
}

.form form input[name="name"] {
  width: 100%;
}

::placeholder {
  color: #ffffeb;
  opacity: 0.6;
}

.form form .form-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  gap: 20px;
}

.form form .form-buttons input {
  padding: 10px;
  background: none;
  border: 2px solid #ffffeb;
  border-radius: 4px;
  color: #ffffeb;
  transition: 0.2s;
}

.form form .form-buttons input:hover {
  background: #48ad7c;
}

.form form .form-buttons input.delete:hover {
  background: #6e0d25;
}

.form form.personal-inventory input {
  width: 100%;
}

.form form.personal-inventory .form-buttons {
  justify-content: space-between;
}
